In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/TH1391_NLMH/Week6_Thuchanh1/california_housing_train.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

**Bài tập 4:** Xây dựng hàm chuẩn hóa Z-score dựa theo công thức với dữ liệu df. Đối chiếu với kết quả khi sử dụng hàm.

In [3]:
def z_score_normalize_df(df, columns):
    normalized_df = df.copy()
    for col in columns:
        mean = df[col].mean()
        std_dev = df[col].std()
        normalized_df[col] = (df[col] - mean) / std_dev
    return normalized_df

In [5]:
# Chọn các cột muốn chuẩn hóa
columns_to_normalize = ['longitude'] # columns_to_normalize = ['Age', 'Income', 'Education']

# Chuẩn hóa dữ liệu
normalized_df = z_score_normalize_df(df, columns_to_normalize)
print("Kết quả tự xây dựng hàm:")
print(normalized_df)

Kết quả tự xây dựng hàm:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       2.619288     34.19                15.0       5612.0          1283.0
1       2.539494     34.40                19.0       7650.0          1901.0
2       2.494610     33.69                17.0        720.0           174.0
3       2.489623     33.64                14.0       1501.0           337.0
4       2.489623     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995  -2.342894     40.58                52.0       2217.0           394.0
16996  -2.347881     40.69                36.0       2349.0           528.0
16997  -2.362842     41.84                17.0       2677.0           531.0
16998  -2.362842     41.80                19.0       2672.0           552.0
16999  -2.387778     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
from scipy.stats import zscore

In [ ]:
z_scores = zscore(df)

In [ ]:
z_scores_df = pd.DataFrame(z_scores, columns=df.columns)
print(z_scores_df)

        Age    Income  Education  Income zscore
0 -0.288493  0.978700   0.294884       0.978700
1 -0.413925  1.304934   1.769303       1.304934
2  1.906565 -0.163117  -1.179536      -0.163117
3 -0.163061 -0.880830  -0.442326      -0.880830
4 -1.041085 -1.239687  -0.442326      -1.239687

**7.3:** Sử dụng chuẩn hóa thang thập phân

In [ ]:
import numpy as np

In [ ]:
def decimal_scaling(column):
    max_abs_value = np.max(np.abs(column))
    k = np.ceil(np.log10(max_abs_value))
    return column / (10 ** k)